/* _____CARRITO_____ */
.pago {
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    width: 95%;
}

.infoPago {
    width: 45%;
    height: 350px;
}

.contenedorCarrito {
    width: 45%;
    height: 350px;
    color: $HD-palette-white;
    flex-wrap: nowrap;
    margin-right: 100px;
}
    .contenedorCarrito h2 {
        font-size: 1.5rem;
        color: $HD-palette-white;
        text-align: center;
    }
    .contenedorCarrito label {
        font-size: 1.15rem;
    }
    .contenedorCarrito form {
        margin-left: 10vw;
    }
.flexBoxCarrito {
    justify-content: center;
    margin-left: 8vw;
    background-color: $HD-grey-darker;
    padding: 25px;
    color: white;
}
    .contenedorLugar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 20.2vw;
    }
        .contenedorLugar label {
            font-size: 1.15rem;
        }
        .contenedorLugar select {
            width: 5.5vw;
            height: 30px;
        }
            .contenedorLugar select option {
                font-size: 1rem;
            }

.flexBoxCarritoProductos {
    margin-left: 20vw;
    width: 70vw;
    height: auto;
    min-height: 25vh;
    background-color: $HD-grey-darker;
    border: 0.1vw solid $HD-palette-orange;
    padding: 2vh 2vw 5vh 2vw;
}
    .flexBoxCarritoProductos ul {
        margin-top: 1vh;
        margin-bottom: 0.7vh;
        list-style: none;
        font-size: 1rem;
    }
    .flexBoxCarritoProductos p {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        background-color: $HD-palette-orange;
        border: 1px solid $HD-palette-black;
        border-radius: 2rem;
        width: 300px;
        min-height: 50px;
        height: auto;
        margin: 20px auto 0.5vh auto;
        padding-top: 9px;
    }

.h2Carrito {
    color: $HD-palette-white;
    font-size: 1.5rem;
    margin-left: 4vw;
    margin-top: 5vh;
}

.eliminar {
    padding: 2px 5px;
}

.add {
    margin-left: -130px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: 1.5rem;
}

.minus {
    margin-right: -130px;
    margin-top: -40px;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.imagenesCarrito {
    display: inline-block;
    margin: 10px 0 -80px -600px;
}
/* --------------- IDs --------------- */
#zipFormato {
    width: 7vw;
    height: 30px;
    margin-top: 3px;
}
    #zipFormato::placeholder {
        font-size: 1rem;
    }

#botonPagarCarrito {
    text-align: center;
    margin-top: 100px;
}
    #botonPagarCarrito input {
        background-color: $HD-palette-orange;
        border: 1px solid $HD-palette-white;
        font-weight: bold;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        width: 30vw;
        height: auto;
        min-height: 70px;
        margin-bottom: 5vh;
        box-shadow: inset 0 0 0 0 $HD-palette-white;
        transition: ease-out 0.3s;
    }
        #botonPagarCarrito input:hover {
            box-shadow: inset 30vw 0 0 0 $HD-palette-white;
        }

#carritoBox {
    z-index: 10;
    margin: 100px auto;
    color: white;
    text-align: center;
}

#totalBase {
    font-weight: bold;
}

#listadoProductos {
    border: 1px solid rgb(54, 53, 53);
    padding: 15px;
}

#cupon {
    height: 35px;
    text-align: center;
    border: 2px solid #f48322;
    display: block;
    margin: 30px auto 0 auto;
}

#aplicarCupon {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px;
    display: block;
    margin: 5px auto 0 auto;
    background-color: #f48322;
    border: 1px solid black;
    border-radius: 1rem;
}

#aplicarCupon:active {
    padding: 3px;
    margin: 9px auto 2px auto;
}

#errorCupon {
    display: none;
    margin: 4px auto;
    color: red;
}

#limpiar {
    font-size: 1.2rem;
    background-color: red;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    margin: 30px auto 0 auto;
    border-radius: 1rem;
}
/* _____CARRITO_____ */