/* _____RESET_____ */
* {
    margin:0;
    padding:0;
}
/* _____RESET_____ */

// V A R I A B L E S //
// Colores
$HD-palette-orange: #f48322;
$HD-palette-black: black;
$HD-palette-white: #f8f8ff;
$HD-grey-darker: #242424;
$HD-grey-lighter: #353535;

// Letras
$HD-font-family: 'Abril Fatface', cursive;
// V A R I A B L E S //

/* _____ETIQUETAS_____ */
html {
    background-color: $HD-palette-black;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* _____ETIQUETAS_____ */

/* ____PSEUDOELEMENTOS_____ */
::selection {
    background-color: $HD-palette-orange;
}
/* ____PSEUDOELEMENTOS_____ */

/* _____KEYFRAMES_____ */
@keyframes opacidadAnimacion {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* _____KEYFRAMES_____ */

/* _____GENERAL_____ */
.botonSubir {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    z-index: 6;
}
    .botonSubir img {
        width: 50px;
        height: 50px;
        background-color: $HD-palette-orange;
        padding: 0.4vw;
        border: 0.1vw solid $HD-palette-white;
        border-radius: 50%;
        opacity: 0.65;
    }
        .botonSubir:hover img {
            opacity: 0.9;
        }

.botonSubirPages {
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 6;
}
    .botonSubirPages img {
        width: 40px;
        height: 40px;
        background-color: $HD-palette-orange;
        padding: 0.4vw;
        border: 0.1vw solid $HD-palette-white;
        border-radius: 50%;
        opacity: 0.65;
        box-sizing: content-box;
    }
        .botonSubirPages:hover img {
            opacity: 0.9;
        }

.sectionFormato {
    width: 100%;
}

.linkCarrito, .linkCarrito a {
    width: 40px;
    height: 40px;
}

.carritoProductos {
    width: 18vw;
    height: auto;
    min-height: 150px;
    max-height: 250px;
    background-color: white;
    border: 2.5px solid $HD-palette-orange;
    position: absolute;
    top: 40px;
    right: -0.15vw;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    padding: 30px 30px 300px 30px;
}

.linkCarrito:hover .carritoProductos {
    opacity: 1;
    visibility: visible;
}

.carritoProductos .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    right: 5px;
    top: -20px;
    transform: rotate(180deg);
    border: solid 10px;
    border-color: #fff transparent transparent transparent;
}

#listadoP {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    background-color: #f8f8ff;
    border: 1px solid grey;
    padding-top: 140px;
}

::-webkit-scrollbar {
    width: 16px;
    border: 1px solid $HD-grey-lighter;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    background-clip: padding-box;
    border: 0.05em solid #eeeeee;
}
/* _____GENERAL_____ */