/* _____PAQUETES_____ */
.h2WhiteCenter {
    color: $HD-palette-white;
    font-size: 2rem;
    text-align: center;
    margin-top: 15vh;
}

.gridContenedorPaquetes {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 5vh;
    justify-items: center;
    animation-name: opacidadAnimacion;
    animation-duration: 2s;
    justify-content: center;
    margin-top: 5vh;
}

.gridContenedorPaquetes ul {
    list-style: none;
}

.contenedorSlider {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 480px;
}
    .contenedorSlider:hover {
        transform: scale(1.05, 1.05);
        transition: all 1s;
    }

.listaSlider {
    position: relative;
}
    .listaSlider li {
        position: absolute;
        opacity: 0;
        width: 23.43vw;
        height: 50.3vh;
        background-color: $HD-grey-lighter;
        border: 0.1vw solid $HD-palette-orange;
        border-radius: 10%;
    }
        .listaSlider li:first-child {
            opacity: 1;
        }
        .listaSlider li:target {
            opacity: 1;
        }

    .contenedorInformacionP {
        position: relative;
        color: $HD-palette-white;
        padding-top: 1vh;
    }
        .contenedorInformacionP h3 {
            font-size: 2rem;
            text-align: center;
            border-radius: 2rem;
            width: 500px;
            text-decoration: underline;
        }
        .contenedorInformacionP h4 {
            font-size: 1.5rem;
            color: $HD-palette-black;
            width: 100px;
            margin-top: 0.5vh;
            text-align: center;
            background-color: $HD-palette-orange;
            border: 1px solid $HD-palette-white;
            border-radius: 2rem;
            margin: 0 auto;
        }
        .contenedorInformacionP p {
            font-size: 1rem;
            width: 10vw;
            padding: 1vh 0;
            margin-top: 4.5vh;
            background-color: $HD-grey-lighter;
            border: 10px solid $HD-palette-orange;
            border-radius: 7%;
            font-weight: bold;
            text-align: center;
            color: $HD-palette-white;
        }
        .listaInformacionP {
            position: relative;
            width: 500px;
            margin-top: 4vh;
            margin-bottom: 3vh;
            text-align: center;
        }
            .listaInformacionP li {
                width: 500px;
                height: 35px;
                position: relative;
                background-color: transparent;
                opacity: 1;
                font-size: 1.15rem;
                list-style: square;
                border: none;
                list-style: none;
            }

    .paqueteSeleccion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 10px;
        width: 100%;
        z-index: 4;
        height: auto;
        flex-wrap: wrap;
        position: relative;
        background-color: $HD-grey-lighter;
        border-radius: 2rem;
        border: 1px solid $HD-palette-orange;
    }
        .paqueteSeleccion li {
            width: 180px;
            height: auto;
            margin-right: 10px;
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
            box-sizing: content-box;
        }
            .paqueteSeleccion li:hover a {
                border: 1px solid $HD-palette-white;
                transition: 0.6s;
            }
            .paqueteSeleccion li a {
                text-decoration: none;
                display: inline-block;
                align-items: center;
                padding-top: 10px;
                width: 180px;
                color: $HD-palette-white;
                font-size: 1.15rem;
                height: 50px;
                background-color: $HD-grey-darker;
                border: 1px solid $HD-palette-orange;
                border-radius: 2rem;
                font-weight: bold;
            }

.botonPaquetes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $HD-palette-white;
    padding: 1vh 0;
    font-size: 1.5rem;
    position: relative;
    width: 20vw;
    height: auto;
    font-weight: bold;
    background-color: #353535;
    transition: background-color 1s;
    border: 0.1vw solid $HD-palette-orange;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
    box-sizing: content-box;
}
    .botonPaquetes:hover {
        color: $HD-palette-black;
        background-color: $HD-palette-white;
    }

    .contenedorMembresia {
        width: 95%;
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 0 auto 5vh auto;
        height: 70vh;
        justify-content: center;
        align-items: center;
        position: relative;
        user-select: none;
    }
        .flexBoxPaqueteM {
            background-color: $HD-palette-white;
            display: block;
            width: 25vw;
            height: 450px;
            margin: 0 2vw;
            border: 0.2vw solid $HD-palette-black;
            border-radius: 2.1vw;
            position: relative;
        }
            .flexBoxPaqueteM h3 {
                text-align: center;
                color: black;
                font-size: 2rem;
                padding: 3vh 0;
                background-color: $HD-palette-orange;
                overflow: hidden;
                border-radius: 1.9vw 1.9vw 0 0;
                box-shadow: 0.1vw 0.1vw 1vh 0 rgb(44, 44, 44);
            }
            .flexBoxPaqueteM p {
                text-align: center;
                font-size: 1.8rem;
            }
            .flexBoxPaqueteM li p {
                font-size: 1.15rem;
            }
            .flexBoxPaqueteM ul {
                margin: 2vh 2vw 0 2vw;
                list-style: none;
                text-align: center;
            }
            .flexBoxPaqueteM hr {
                height: 0.001vh;
                color: $HD-palette-orange;
                margin-bottom: 1vh;
            }

        .botonM {
            display: flex;
            background-color: $HD-palette-white;
            border: 1px solid $HD-palette-orange;
            border-radius: 2rem;
            width: 20vw;
            height: 6vh;
            margin: 4vh auto 0 auto;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }
            .botonM p {
                font-weight: bold;
            }
            .botonM:hover {
                background-color: $HD-palette-orange;
                color: $HD-palette-white;
                animation-name: opacidadAnimacion;
                animation-duration: 1s;
                border: 0.1vw solid $HD-palette-black;
            }

/* -------------------------- */

@for $i from 1 through 9 {
    #paquete#{$i} {
        width: 500px;
        height: 480px;
    }
}
/* _____PAQUETES_____ */