/* _____RESPONSIVE - SMARTPHONE _____ */
@media (max-width: 599px) {
    /* BEGIN: HEADER */
    .logo {
        width: 150px;
        position: relative;
        margin: 0 auto 1vh auto;
    }

    .linkTitulo {
        font-size: 1.5rem;
        margin: 0;
        width: 100%;
        position: relative;
    }

    .headerWhite {
        min-height: 180px;
    }

    .linkTituloPaginas {
        font-size: 1.5rem;
        display: block;
        position: relative;
        width: 100%;
    }

    .flexBoxHeaderPages {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 1vh 0;
        justify-content: center;
        width: 100%;
    }
    /* END: HEADER */

    /* BEGIN: MAIN */
    .navBar {
        visibility: hidden;
        display: none;
    }

    .navHam {
        visibility: visible;
    }

    .navBarPages {
        visibility: hidden;
        display: none;
    }

    .smartphoneMargin {
        margin-top: 3vh;
    }

    .divHrIndex {
        display: none;
    }

    .botonSubir {
        right: 5vw;
    }
        .botonSubir img {
            width: 40px;
            height: 40px;
            padding: 0.5vh;
        }

    .botonSubirPages {
        right: 5vw;
    }
        .botonSubirPages img {
            width: 40px;
            height: 40px;
            padding: 0.5vh;
        }

    .menu {
        width: 120px;
        height: auto;
        visibility: hidden;
        display: none;
    }
        .menu ul {
            background-color: $HD-palette-orange;
            border-radius: 0.5rem;
            border: 1px solid $HD-palette-black;
            text-align: center;
            list-style: none;
        }
            .menu ul li {
                margin-bottom: 5px;
            }
                .menu ul li a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $HD-palette-black;
                    font-size: 1.3rem;
                }
    
    .flexBoxIndexArticle {
        display: block;
        flex-wrap: nowrap;
        margin-bottom: 10vh;
    }
        .flexBoxIndexArticle div img {
            margin: 4vh 0 0 2vw;
            border: 0.15vw solid $HD-palette-orange;
            width: 90vw;
            margin-left: 5vw;
        }
        .flexBoxIndexArticle p {
            color: $HD-palette-white;
            width: 90vw;
            font-size: 1rem;
            text-align: center;
        }
            .flexBoxIndexArticle p a {
                background-color: $HD-palette-orange;
                color: $HD-palette-black;
                border: 0.1vw solid $HD-palette-black;
                text-align: center;
                text-decoration: none;
                font-size: 1rem;
                padding: 7.02px 4.54px;
            }
                .flexBoxIndexArticle p a:hover {
                    color: $HD-palette-white;
                    border: 0.1vw solid $HD-palette-white;
                }
    
    .h2WhiteLeft {
        color: $HD-palette-white;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 0 1.6vh 0;
    }

    .h2WhiteRight {
        color: $HD-palette-white;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .h3WhiteIndex {
        color: $HD-palette-white;
        font-size: 1.2rem;
        text-align: center;
        margin: 2vh;
    }

    .compradoResenias {
        font-size: 0.8rem;
    }

    .h2TipoProducto {
        text-align: center;
        margin-top: 3vh;
        position: relative;
        align-self: flex-start;
        margin: 3vh auto 0 auto;
        justify-content: center;
        width: 35vw;
    }
        .h2TipoProducto h2 {
            color: rgb(73, 73, 73);
            font-size: 1rem;
            border: 0.15vw solid $HD-palette-orange;
            padding: 0.5vh 0.7vw;
            background-color: $HD-palette-white;
            text-align: center;
        }
    
    .flexBoxProducto {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        min-height: 180px;
        min-width: 265px;
    }
        .flexBoxProducto img {
            width: 30vw;
            object-fit: contain;
        }
        .flexBoxProducto p a {
            margin-left: 40vw;
            font-size: 0.7rem;
        }
    
    .divHrProductos {
        display: none;
    }

    .divHrProductosSub {
        display: none;
    }
    
    .tituloProducto {
        font-size: 0.8rem;
    }
    .precioProducto {
        font-size: 0.9rem;
        padding-top: 1vh;
    }
    .entregaProducto {
        font-size: 0.7rem;
        width: auto;
        max-width: 20vw;
    }

    .h2WhiteCenter {
        font-size: 1.6rem;
        margin: 2vh 0;
    }

    .contenedorSlider {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90vw;
        height: 700px;
    }

    .contenedorInformacionP h3 {
        width: 90vw;
        font-size: 1.5rem;
    }

    .listaInformacionP {
        width: 90vw;
        height: 500px;
    }
        .listaInformacionP li {
            width: 90vw;
            height: 60px;
            list-style: none;
        }

    .botonPaquetes {
        width: 70vw;
    }

    .paqueteSeleccion {
        width: 90vw;
        height: auto;
    }

    .paqueteSeleccion li {
        width: 90vw;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .paqueteSeleccion li a {
        padding-top: 13px;
    }

    .contenedorMembresia {
        display: block;
        height: auto;
    }

    .flexBoxPaqueteM {
        width: 80vw;
        height: auto;
        margin: 5vh auto;
    }
        .flexBoxPaqueteM h3 {
            font-size: 1.3rem;
        }
        .flexBoxPaqueteM p {
            font-size: 1rem;
        }
        .flexBoxPaqueteM li p {
            font-size: 0.8rem;
        }
    
    .botonM {
        width: 50vw;
        height: 45px;
    }

    .h2Galeria {
        margin: 15vh auto 5vh auto;
        font-size: 1.5rem;
        width: 100%;
        animation-name: none;
        background-image: radial-gradient(circle, #f48322 0%, rgba(0, 0, 0, 0.896779) 90%);
    }
        .h2Galeria:hover {
            width: 100%;
        }

    .abrirDescripcion {
        opacity: 1;
        font-size: 5vw;
        width: 60%;
        margin: -40vh auto 5vh auto;
        border: none;
    }

    .headerDescripcion h3 {
        font-size: 1.25rem;
        text-decoration: underline;
    }

    .contenidoDescripcion {
        z-index: 5;
        top: 50%;
        margin-left: 0.5vw;
        height: 40vh;
        min-height: 260px;
    }
        .contenidoDescripcion ul {
            position: absolute;
            width: 95vw;
            text-align: center;
            top: 12%;
            margin: 0 auto;
        }
            .contenidoDescripcion ul li {
                font-size: 0.8rem;
            }
    
    .cerrarDescripcion {
        font-size: 0.7rem;
        left: 40%;
        bottom: 3%;
    }
    
    .checkboxFormato {
        padding: 1.2vw;
    }
        .checkboxFormato:checked::after {
            font-size: 0.55rem;
        }

    .divHrContacto {
        width: 30vw;
        margin-left: 27.5vw;
    }

    .divHrContactoSub {
        width: 30vw;
        height: 0.2vh;
        margin-left: 27.5vw;
    }

    .formInput {
        width: 60vw;
        font-size: 0.8rem;
    }

    .botonesForm {
        font-size: 0.8rem;
        margin-top: -1vh;
    }

    .contenedorCarrito {
        display: block;
    }
        .contenedorCarrito h2 {
            font-size: 1.4rem;
        }

    .contenedorLugar {
        margin-left: 15vw;
    }
    
    .flexBoxCarrito {
        display: block;
        width: 90vw;
        margin: 0 0 5vh -3vw;
        text-align: center;
    }
        .flexBoxCarrito label {
            font-size: 0.9rem;
        }
        .flexBoxCarrito select {
            width: 20vw;
            font-size: 0.6rem;
            height: 30px;
        }
        .flexBoxCarrito select option {
            font-size: 0.6rem;
        }
    
    .flexBoxCarritoProductos {
        margin: 0 0 0 -2vw;
        width: 90vw;
        height: auto;
        min-height: 30vh;
    }
        .flexBoxCarritoProductos ul {
            font-size: 1rem;
        }
            .flexBoxCarritoProductos ul li {
                text-align: center;
            }
        .flexBoxCarritoProductos p {
            font-size: 1.3rem;
            padding-bottom: 0.5vh;
            width: 55vw;
            margin: 0 auto;
        }

    .flexBoxPago {
        margin-left: 2vw;
    }

    .tarjetasPago {
        padding-left: 18vw;
    }
        .tarjetasPago img {
            width: 15vw;
        }
    
    .h2Carrito {
        font-size: 1.25rem;
    }
    /* END: MAIN */

    /* BEGIN: FOOTER */
    .footerWhite {
        background-color: $HD-palette-white;
    }

    .dudasBoton a {
        font-size: 0.7rem;
    }

    .redesSociales {
        list-style: none;
        position: relative;
        margin-top: 1.5vh;
        margin-left: 1vw;
        text-align: end;
        grid-area: redes;
    }
        .redesSociales li {
            display: inline-block;
            position: relative;
            margin-right: 1vw;
        }
        .redesSociales li img {
            width: 5vw;
        }

    .empresasLogos {
        list-style: none;
        position: relative;
        text-align: start;
        padding-left: 6vw;
        padding-top: 1vh;
        grid-area: empresas;
    }
        .empresasLogos ul {
            position: relative;
            padding-left: 0;
        }
        .empresasLogos ul li {
            display: inline-block;
            position: relative;
            margin-right: 1vw;
        }
        .empresasLogos ul img {
            width: 9vw;
        }

    .banderaArg {
        text-align: end;
        padding-right: 1vw;
        padding-top: 1vh;
        grid-area: bandera;
    }
        .banderaArg img {
            width: 7vw;
            border: 0.1vw solid $HD-palette-black;
        }

    .copyrightF {
        text-align: center;
        grid-area: copyright;
    }
        .copyrightF li {
            display: inline-block;
            position: relative;
        }
        .copyrightF li img {
            width: 3vw;
        }
        .copyrightF p {
            font-size: 0.6rem;
        }


    /* END: FOOTER */

    /* --------------- IDs --------------- */
    /* BEGIN: HEADER */
    #imagenHeaderIndex {
        display: block;
        flex-direction: column;
        align-items: center;
        background-image: none;
        background-color: $HD-palette-white;
        height: auto;
    }

    #flexBoxHeaderIndex {
        display: flex;
        flex-direction: column;
        padding: 1vh 0;
        justify-content: center;
    }
    /* END: HEADER */

    /* BEGIN: MAIN */
    #flexBoxIndexCero {
        display: none;
    }

    #lemaFrase {
        display: none;
    }

    #abrirMenu {
        display: none;
    }

    #abrirMenu:checked ~ .menu {
        visibility: visible;
        display: block;
        animation-name: opacidadAnimacion;
        animation-duration: 0.7s;
    }

    #separarTexto {
        margin-top: 1vh;
    }

    #myCarousel {
        display: none;
    }

    #iFrameFormato {
        width: 85vw;
        height: 40vh;
        margin: 5vh 0 0 7.2vw;
        border: 0.2vw solid $HD-palette-orange;
    }

    #gridResenias {
        display: block;
        width: auto;
        
    }
        #gridResenias div {
            font-size: 1rem;
            display: block;
            width: 70vw;
            height: auto;
            margin: 2vh auto;
        }
            #gridResenias div p {
                margin-bottom: 4vh;
            }
            #gridResenias div img { 
                margin: 0 auto 1vh auto;
                width: 30px;
                height: 30px;
                display: block;
                text-align: center;
            }

    @for $i from 1 through 9 {
    #paquete#{$i} {
        width: 90vw;
        height: 700px;
        border-radius: 2rem;
    }
}

    #imagenGaleria {
        height: 30vh;
        margin-top: 3vh;
    }
        #imagenGaleria div {
            width: 100%;
            margin-top: 10vh;
            padding: 0;
            font-size: 2rem;
            color: $HD-grey-lighter;
        }

    #gridGaleria {
        display: block;
        padding: 2vh 0 5vh 0;
        text-align: center;
        overflow: hidden;
    }
        #gridGaleria div {
            width: 95vw;
            height: 50vh;
            min-height: 260px;
            margin: 0 auto 8vh auto;
        }
            #gridGaleria div:hover img {
                border: none;
            }

        #gridGaleria div img {
            width: 90vw;
            padding-left: 1vw;
            object-fit: contain;
            height: none;
        }
    
    #gridGaleria div div p a {
        margin-left: -50vw;
        padding: 1vw;
        background-color: $HD-palette-orange;
    }

    #gridNosotros {
        display: block;
        width: 100%;
    }
        #gridNosotros img {
            width: 80vw;
        }
    
    #nuestroNegocio {
        border: none;
        margin-top: 1vh;
        margin-bottom: 0;
    }
        #nuestroNegocio h2 {
            padding-top: 2vh;
            font-size: 1.5rem;
        }
        #nuestroNegocio p {
            width: 95vw;
            font-size: 1rem;
            text-align: center;
        }
        #elBolson h2 {
            font-size: 1.5rem;
            text-align: center;
            padding-top: 2vh;
            padding-left: 0;
        }
        #elBolson p {
            margin: 0;
            width: 95vw;
            padding-top: 3vh;
            text-align: center;
            font-size: 1rem;
    }
    #elBolsonImg {
        padding: 4vh 0;
        display: flex;
        justify-content: center;
    }
        #elBolsonImg img {
            width: 80vw;
            padding: 0;
        }
        #atencionCliente h2 {
            font-size: 1.5rem;
            text-align: center;
            padding-top: 2vh;
            padding-left: 0;
        }
        #atencionCliente p {
            margin: 0;
            width: 95vw;
            padding-top: 3vh;
            text-align: center;
            font-size: 1rem;
        }
    #atencionClienteImg {
        padding: 4vh 0;
        display: flex;
        justify-content: center;
    }
        #atencionClienteImg img {
            width: 80vw;
            height: auto;
            padding: 0;
        }
    #nuestrasInstalacionesImg {
        padding: 4vh 0;
        display: flex;
        justify-content: center;
    }
        #nuestrasInstalaciones h2 {
            font-size: 1.5rem;
            text-align: center;
            padding-top: 2vh;
            padding-left: 0;
        }
        #nuestrasInstalaciones p {
            margin: 0;
            width: 95vw;
            padding-top: 3vh;
            text-align: center;
            font-size: 1rem;
        }
    #estandarCalidad {
        margin-bottom: 0;
    }
        #estandarCalidad h2 {
            font-size: 1.5rem;
            text-align: center;
            padding-top: 2vh;
            padding-left: 0;
        }
        #estandarCalidad p {
            margin: 0;
            width: 95vw;
            padding-top: 3vh;
            text-align: center;
            font-size: 1rem;
        }
    #empresasAsociadas {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        padding: 0;
    }
        #empresasAsociadas img {
            width: 50vw;
            height: auto;
            padding: 0;
        }
    
    #gridContacto {
        display: block;
        margin: 1vh auto;
    }
        #contactoForm {
            width: 85vw;
            margin: 1vh auto 1vh auto;
        }
            #contactoForm h2 {
                font-size: 1.5rem;
            }
            #contactoForm div {
                font-size: 0.8rem;
            }
            #contactoForm textarea {
                width: 60vw;
                font-size: 0.8rem;
            }
            #contactoForm label {
                font-size: 0.85rem;
            }
            #contactoForm select {
                width: 30vw;
                height: auto;
                font-size: 0.8rem;
            }
                #contactoForm select option {
                    font-size: 0.8rem;
                }
    
    #espacioDatos {
        width: 85vw;
        padding: 0;
        margin: 4vh auto;
        padding-top: 5vh;
        height: auto;
        min-height: 65vh;
    }
        #espacioDatos h2 {
            font-size: 1.5rem;
        }
        #espacioDatos p {
            font-size: 1rem;
        }
        #espacioDatos ul li img {
            width: 15vw;
        }
    
    #zipFormato {
        margin-top: 0;
        margin-left: 2vw;
        width: 18vw;
        height: 30px;
    }
        #zipFormato::placeholder {
            font-size: 0.7rem;
        }
}
    /* END: MAIN */
/* _____RESPONSIVE - SMARTPHONE _____ */